* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
}

.navbar {
	box-shadow: 3px 3px 5px 3px #ccc;
}

.mapnav {
	width: max(100vw, (100vh - 56px) * 2.03625 + 300px, 500px * 2.03625 + 300px);
}

.navbar,
.navbarNav,
.navbarNav ul,
.nav-item {
	display: flex;
	align-items: center;
}

#account-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: orange;
	color: white;
	font-size: 30px;
	border-radius: 30px;
	height: 50px;
	width: 50px;
}

#title-container {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: 100px;
	font-weight: 500;
}

.search-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 30px 0 15px 0;
}

.searchBar {
	display: flex;
	height: 50px;
	width: 500px;
	max-width: 80%;
	justify-content: left;
	align-items: center;
	border-radius: 30px;
	box-shadow: 3px 3px 5px 6px #ccc;
}

#magnifying-glass {
	width: 30px;
	height: 30px;
	margin: auto 20px;
}

.searchBar p {
	color: grey;
	width: 380px;
	margin: 0;
}

#mic {
	width: 30px;
	height: 30px;
	self-align: right;
	margin: auto 20px;
}

.search-suggestions {
	display: flex;
	height: 100px;
	margin: 15px 0;
	justify-content: center;
	align-items: center;
}

.suggestion {
	color: black;
	border: 2px solid grey;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	text-decoration: none;
	margin: 0 10px;
	padding: 5px;
}

.suggestion:hover {
	transform: scale(1.1);
	text-decoration: none;
	color: black;
	box-shadow: 3px 3px 5px 3px #ccc;
}

.bookmarks {
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	max-width: 80%;
	margin: 15px auto;
	margin-bottom: 80px;
	justify-content: center;
}

.gridDiv {
	box-shadow: 3px 3px 5px 3px #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
	margin: 10px;
}

.logo {
	height: 50px;
	position: relative;
	top: -25px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 30px;
	border-radius: 30px;
}

.map-content {
	display: flex;
	justify-content:left;
	width: 100%;
	height: calc(100vh - 56px);
}

.map-side-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	height: 100%;
	min-height: calc(max((100vw - 300px) / 2.03625, 100vh - 56px, 500px) + 50px);
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}

.map-side-bar .searchBar {
	margin: 20px 0;
}

.side-bar-content {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: left;
}

.side-bar-item {
	width: 80%;
	height: 40px;
	padding-left: 10px;
	display: flex;
	justify-content: left;
	align-items: center;
	margin: 10px 10%;
	box-shadow: 3px 3px 5px 3px #ccc;
}

h4 {

	margin: 15px 10%;
}

hr {
	height:8px;
	width: 100%;
	margin: 10px 0;
	background-color: rgb(240,240,240);
	border-top: 1px solid rgb(200,200,200);
	border-bottom: 1px solid rgb(200,200,200);
}

.location-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	color: white;
}

.map {
	width: max(100vw - 300px, (100vh - 56px) * 2.03625, 500px * 2.03625);
	height: max((100vw - 300px) / 2.03625, 100vh - 56px, 500px);
}

.footer-space {
	width: 100%;
	height: 50px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #343A40;
	width: 100%;
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: center;
}

.footer a {
	color: white;
}

.support-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 800px;
	max-width: 80%;
	margin: 0 auto;
	margin-bottom: 100px;
}

.support-title {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 40px;
	margin-top: 30px;
	background-image: url("images/tech-wallpaper.jpg");
}

.form {
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 90%;
	margin-top: 20px;
}

.input-box {
	padding: 5px;
	background-color: rgb(240,240,240);
	border: 1px solid rgb(200,200,200);
	border-radius: 5px;
	color: rgb(200,200,200);
	width: 100%;
	height: 100px;
}

.form h5 {
	margin: 20px 0 10px 0;
}

.submit {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	margin-top: 30px;
	height: 40px;
	width: 80px;
	border: 1px solid black;
	color: black;
	background-color: rgb(240,240,240);
}

.submit:hover {
	color: black;	
	text-decoration: none;
}

.bio-container {
	width: 100%;
	padding: 15px;
	display: flex;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

.bio {
	height: 100%;
	width: 75%;
}

.image-container {
	width: 25%;
}

.bio-container img {
	object-fit: contain;
}
